body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.display-show {
  display: inline-block;
  width: 23%;
  width: calc(25% - ( ( 20px ) * 0.75 ) );
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  border: 3px solid black;
  margin-left: auto;
}

.display-show:nth-child(4n+4) {
  margin-right: 0;
}

.display-show img {
  width: 100%;
  height: auto;
}
.fetch-button {
  margin-top: 10px;
  width: 50%;
  font-size: 30px;
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
  margin-left: 25%;
  background-color:rgb(201, 158, 236);
}